.yellow-cta{
  .right-cta{
    background: #febc11;
    a{
      text-align: right;
      padding-right: 100px;
      &::after{
        content: "";
        height: 13px;
        width: 9px;
        display: inline-block;
        margin: 0 0 0 12px;
        background: url(../img/icon-right-arrow.png) no-repeat 0 0;
      }
      @include breakpoint(xs) {
        padding-right: 10px;
      }
    }
  }
  .left-cta{
    background: #e6a705;
    a{
      text-align: left;
      padding-left: 100px;
      &::before{
        content: "";
        height: 13px;
        width: 9px;
        display: inline-block;
        margin: 0 12px 0 0;
        background: url(../img/icon-left-arrow.png) no-repeat 0 0;
      }
      @include breakpoint(xs) {
        padding-left: 10px;
      }
    }
  }
  a{
    text-transform: uppercase;
    width: 100%;
    padding: 26px 0 22px;
    // min-height: 98px;
    display: block;
    color: #000;
    font-size: 18px;
    font-family: $dinMedium;
    &[href="#"]{
      pointer-events: none;
      &::before , &::after{
        background: transparent;
      }
    }
    @include breakpoint(xs) {
      font-size: 14px;
      padding: 26px 0 22px;
      // min-height: 85px;
    }
  }
}
footer{
  color: #fff;
  background: #1d1d1d;
  
  padding: 60px 0;
  

  .footer-blocks{
    ul{
      margin: 0 0 50px 0;
      @include breakpoint(xs) {
        margin: 0 0 40px 0;
        &.hide-footer-link{
          li{
            display: none;
          }
        }
      }
      li{
        margin: 0 0 18px 0;
        &:last-child{
          margin: 0;
        }
        a{
          font-size: 15px;
          color: #ababab;

        }
        h3{
          margin: 0 0 40px 0;
        }
      }
    }
  }

  h2{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 25px;
    @include breakpoint(xs) {
      font-size: 14px;
    }
    a{
      color: #fff;
      &:hover{
        color: #fff;
      }
    }
  }
  h3{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 18px;
    @include breakpoint(xs) {
      font-size: 14px;
    }
    a{
      color: #fff !important;
      &:hover{
        color: #fff;
      }
    }
  }
  .sub-block{
    margin: 0 0 40px 0;
    input{
      height: 50px;
      color: #ababab;
      background: #373839;
      border: 0;
      padding: 20px;
      box-sizing: border-box;
      font-size: 14px;
    }
  }
  .road-assist{
    margin: 0 0 40px 0;
    @include breakpoint(xs) {
      padding: 40px 0 0 0;
      border-top: 1px solid #4a4a4a;
    }
    a{
      font-size: 30px;
      color: #bbbbbb;
      text-decoration: none;
      cursor: none;
      font-family: $dinNormal;
      @include breakpoint(xs) {
        font-size: 25px;
      }
    }
  }
  .follow-us{
    text-align: center;
    margin: 30px 0 0 0;
    span{
      font-size: 15px;
      text-transform: uppercase;
      margin: 0 0 30px 0;
      display: block;
    }
    li{
      display: inline-block;
      margin: 0 19px 0;
      a{
        color: #ababab;
      }
    }
  }
  .tvs-grey{
    float: right;
    margin: -20px 0 0 0;
  }

  .footer-bottom{
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    margin: 30px 0;
    padding: 30px 0;
    color: #fff;
    
    .copyright{
      font-size: 13px;
      @include breakpoint(xs) {
        margin: 0 0 20px 0;
        display: block;
      }
    }
    ul{
      float: right;
      @include breakpoint(xs) {
        float: none;
        margin: 0 0 0 -15px;
      }
      li{
        display: inline-block;
        padding: 0 30px;
        border-right: 1px solid #fff;
        &:last-child{
          border-right: none;
        }
        @include breakpoint(xs) {
          padding: 0 15px;
          margin: 0 0 10px 0;
        }
        a{
          color: #fff;
          font-size: 13px;
        }
      }
    }
  }
}

.risk-block {
  text-align: center;
  
}
