.tvs-app{
  margin: 100px 0 0 0;
  padding: 570px 0 0 0;
  background: url("../img/tvs-app-bg.jpg") center 0 no-repeat;
  @include breakpoint(xs) {
    background-size: 120%;
    margin: 50px 0 0 0;
    padding: 45% 0 0 0;
  }
}

.app-container{
  margin: 0 auto 0;
  padding: 30px 40px;
  background: $yellowColor;
  @include breakpoint(xs) {
    padding: 40px 20px;
  }

  .download-app{
    margin: 30px 0 0 0;
    @include breakpoint(xs) {
      margin: 0;
      text-align: center;
    }
    h2{
      font-size: 32px;
      font-family: $dinBoldItalic;
      margin: 0 0 35px 0;
      color: #1d1c1c;
      @include breakpoint(xs) {
        font-size: 26px;
        margin: 0 0 25px 0;
      }
    }
    p{
      color: #1d1c1c;
      font-size: 18px;
      line-height: 24px;
      @include breakpoint(xs) {
        font-size: 15px;
        line-height: 22px;
        margin: 0 0 35px 0;
      }
    }
  }

  .app-links{
    border-right: 1px solid #000;
    padding: 50px 50px 50px 0;
    float: right;
    @include breakpoint(xs) {
      padding: 0;
      float: none;
      border: none;
      display: block;
      text-align: center;
    }
    a{
      margin: 0 0 5px 0;
      display: block;
      &:last-child{
        margin: 0;
      }
    }
  }
  .qr-code{
    margin: 5px 0 0 0;
    @include breakpoint(xs) {
      display: none;
    }
  }
}
