<section class="blog">
  <div class="blog-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="tvs-blog">
            <a href="#"> <img src="assets/img/tvs-awards.jpg" alt=""></a>
            <div class="blog-content">
              <span>AWARDS</span>
              <p><a href="#" class="blog-link">TVS N251 continues to stand testament to our unwavering focus on quality.</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tvs-blog">
            <a href="#"> <img src="assets/img/blog-travel-1.jpg" alt=""></a>
            <div class="blog-content">
              <span>Blog . Travel</span>
              <p><a href="#" class="blog-link">Things to keep in mind while riding a two-wheeler</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tvs-blog">
            <a href="#"> <img src="assets/img/blog-travel-2.jpg" alt=""></a>
            <div class="blog-content">
              <span>Blog . Travel</span>
              <p><a href="#" class="blog-link">How to choose the perfect scooter for city life</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
