<div class="yellow-cta">
  <div class="container-fluid remove-container-padding">
    <div class="row">
      <div class="col-sm-6 col-xs-6 left-cta">
        <a class="btm-tab-change" data-toggle="tab" href="#Colour">Colour</a>
      </div>
      <div class="col-sm-6 col-xs-6 right-cta">
        <a class="btm-tab-change" data-toggle="tab" href="#Price">Price</a>
      </div>
    </div>
  </div>
</div>
