<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-blocks">
          <ul>
            <li><a href="#">Unlisted Shares</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact Us</a></li>            
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-blocks">
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">YouTube</a></li>            
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-blocks">
          <ul class="hide-footer-link">            
            <li><a href="#">Product Reviews</a></li>
            <li><a href="#">Subscribe to Our Newsletter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="footer-blocks">
          <div class="road-assist">
            <h3>24x7 assistance</h3>
            <a href="tel:1800-419-2077">1800-419-2011</a>
          </div>
          <!-- <ul>
            <li><h3><a href="#">contact us</a></h3></li>
            <li><h3><a href="#">write to us</a></h3></li>
          </ul> -->
        </div>
      </div>
    </div>   

    <div class="footer-bottom">
      <div class="row">
        <div class="col-sm-4">
          <span class="copyright">&copy; Batai Capital. All rights reserved.</span>
        </div>
        <div class="col-sm-8">
          <ul>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="risk-block">Investment are subject to market risks. Please read the offer document carefully before investing</div>
  </div>



</footer>
