<div class="hero">
    <img src="assets/img/slider_img.jpg" alt="Batai Capital">
</div>
<div class="well">
	<h1>Money pulls money. Create wealth for your future. <br>
We at Batai Capital helps you with that. <br>
Our strong understanding on markets with an eye on detailing on <br> emerging companies allows us to invest wisely in potential companies.</h1>
</div>