<section class="how-to-connect-video">
  <div class="container remove-container-padding">
    <div class="content-head">
      <h1>HOW TO CONNECT</h1>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="how-to-video-container">
          <div class="content-box" data-toggle="modal" data-src="https://www.youtube.com/embed/GfOf5I30mCo" data-target="#myModal">
            <h2>LOREM IPSUM DOLOR SIT AMET</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
          </div>
          <img class="how-to-video" src="assets/img/how-to-connect-video.jpg" alt="TVS" data-toggle="modal" data-src="https://www.youtube.com/embed/GfOf5I30mCo" data-target="#myModal">
        </div>
      </div>
    </div>
    <div class="content-head">
      <h1>Related Videos</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="related-video-container">
          <img class="how-to-video" src="assets/img/how-to-connect-video-1.jpg" alt="TVS" data-toggle="modal" data-src="https://www.youtube.com/embed/vwF5tzym-kw" data-target="#myModal">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="related-video-container">
          <img class="how-to-video" src="assets/img/how-to-connect-video-2.jpg" alt="TVS" data-toggle="modal" data-src="https://www.youtube.com/embed/TuMDEGyQztA" data-target="#myModal">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="related-video-container">
          <img class="how-to-video" src="assets/img/how-to-connect-video-3.jpg" alt="TVS" data-toggle="modal" data-src="https://www.youtube.com/embed/i7bDqk-6k3s" data-target="#myModal">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
      </div>
    </div>

    <div class="power-btn">
			<a href="#" class="btn btn-default btn-red">know more</a>
		</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always">></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
