<section class="making tvs">
  <div class="videoWrapper">
    <a href="#" class="video-close-btn"><span class="glyphicon glyphicon-plus"></span></a>      
    <div class="ytvideo" style="display:none;"></div>
    <span class="homevideo" data-vidid="KfU_SgzS_Fg"> 
      <img id="play-video" class="hero-img" src="assets/img/making-tvs.jpg" alt="TVS">  
    </span>
  </div>
</section>
