<div class="portifolio-wrapper">
    <div class="container">
        <h1>Our Portifolio</h1>

        <div class="slider-container">
            <ul id="topSlider">
              <li>
                <img src="assets/img/clients/logo_1.jpg" alt="Client Name">
              </li>
              <li>
                <img src="assets/img/clients/logo_2.jpg" alt="Client Name">
              </li>
              <li>
                <img src="assets/img/clients/logo_3.jpg" alt="Client Name">
              </li>
              <li>
                <img src="assets/img/clients/logo_4.jpg" alt="Client Name">
              </li>
              <li>
                <img src="assets/img/clients/Studds-logo1.jpg" alt="Client Name">
              </li>  
            </ul>
            
        </div>
    </div>    
</div>

<div class="blogs-wrapper">
    <div class="container small-container">
        <div class="row">
            <div class="col-sm-4">
                <h2><a href="#">Harmonious Planning</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                <a href="#"><img class="img-responsive" src="assets/img/01.jpg" alt="Portfolio Image"></a>
            </div>
            <div class="col-sm-4">
                <h2><a href="#">Easy Integration</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                <a href="#"><img class="img-responsive" src="assets/img/02.jpg" alt="Portfolio Image"></a>
            </div>
            <div class="col-sm-4">
                <h2><a href="#">Superior Support</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                <a href="#"><img class="img-responsive" src="assets/img/03.jpg" alt="Portfolio Image"></a>
            </div>
        </div>
    </div>
</div>
