<section class="powerfull-sections">
	<div class="overview-head">
		<h1>Powerful torque with smartness through connectivity</h1>
		<p>uniquely blend to make perfect sense</p>
	</div>
	<div class="container-fluid">
		<div class="overview-wrapper">
			<div class="overview-block">
				<div class="row">
					<div class="col-sm-7">
						<div class="scooter-photo">
							<img src="assets/img/power-1.jpg" alt="125 cc 3-valve cvti-rev engine">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="scooter-info">
							<h3>125 cc 3-valve cvti-rev engine</h3>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="overview-block">
				<div class="row">
					<div class="col-sm-7 col-sm-push-5">
						<div class="scooter-photo">
							<img src="assets/img/power-2.jpg" alt="125 cc 3-valve cvti-rev engine">
						</div>
					</div>
					<div class="col-sm-5 col-sm-pull-7">
						<div class="scooter-info">
							<h3>Stealth aircraft inspired edgy and sporty styling</h3>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="overview-block">
				<div class="row">
					<div class="col-sm-7">
						<div class="scooter-photo">
							<img src="assets/img/power-3.jpg" alt="125 cc 3-valve cvti-rev engine">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="scooter-info">
							<h3>Performance design with TVS Racing Pedigree</h3>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="overview-block">
				<div class="row">
					<div class="col-sm-7 col-sm-push-5">
						<div class="scooter-photo">
							<img src="assets/img/power-4.jpg" alt="125 cc 3-valve cvti-rev engine">
						</div>
					</div>
					<div class="col-sm-5 col-sm-pull-7">
						<div class="scooter-info">
							<h3>India’s first Connected Scooter with TVS</h3>
							<img class="SmartXonnect-img" src="assets/img/smart-connect-logo.png" alt="TVS SmartXonnect">
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="power-btn">
			<a href="#" class="btn btn-default btn-red">know more</a>
		</div>
	</div>
</section>
