<div class="price-container">
  	<div class="container">
  		<div class="price-wrapper">
  			<div class="choose-col">
  				<h5>CHOOSE A VARIANT</h5>
  				<select name="variant" id="variant">
  					<option value="0">Select</option>
  					<option value="TVS Wego N251">TVS Wego N251</option>
  					<option value="TVS Jupiter">TVS Jupiter</option>
  					<option value="TVS Sports">TVS Sports</option>
  				</select>
  			</div>
  			<div class="choose-col choose-col-1">
  				<h5>CHOOSE STATE</h5>
  				<select name="state" id="state">
  					<option value="0">Select</option>
  					<option value="Maharashtra">Maharashtra</option>
  					<option value="Goa">Goa</option>
  					<option value="Gujarat">Gujarat</option>
  				</select>
  			</div>
  			<div class="choose-col choose-col-2">
  				<h5>CHOOSE CITY</h5>
  				<select name="city" id="city">
  					<option value="0">Select</option>
  					<option value="Mumbai">Mumbai</option>
  					<option value="Thane">Thane</option>
  					<option value="Pune">Pune</option>
  				</select>
  			</div>
  			<div class="choose-col">
  				<!-- <h5>&nbsp</h5> -->
  				<h3>
  					<em>Ex-Showroom <br> Price</em> 
  					<span class="fa fa-rupee"></span>50,000
  				</h3>
  			</div>
  		</div>
  		<div class="location-btn">
  			<a href="#" class="btn btn-default">LOCATE A DEALER</a>
  		</div>
  	</div>
  </div>