<div id="home" class="tab-pane fade in active">
 <div class="overview-container">
  {{> powerfull-sections }}
  {{> powerpack-performance }} <!-- performance-numbers -->
  {{> making-tvs }} <!-- video-full-width -->
  {{> blog }}
  {{> bottom-tabchange-cta }}  <!-- bottom-tabchange-cta -->
 </div>
</div>
