<div id="Features" class="tab-pane fade">
  <div class="featuresWrap">
    <ul class="nav nav-tabs" id="featuresTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#style" role="tab" aria-controls="style"><span class="style-icon"></span>Style</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#performance" role="tab" aria-controls="performance"><span class="performance-icon"></span>Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#technology" role="tab" aria-controls="technology"><span class="technology-icon"></span>Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#comfort" role="tab" aria-controls="comfort"><span class="comfort-icon"></span>Comfort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#convenience" role="tab" aria-controls="convenience"><span class="convenience-icon"></span>Convenience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#safety" role="tab" aria-controls="safety"><span class="convenience-icon"></span>Safety</a>
      </li>

    </ul>

    <div class="tab-content">

      <div class="tab-pane fade tab-style active" id="style" role="tabpanel">
        <div class="title-xs visible-xs"><span class="style-icon"></span>Style</div>
        <div class="slider">
          <div class="slide">
            <div class="content">
              <h2>Stealth Bomber aircraft inspired styling</h2>
              <p>Wego is the luxury scooter equipped with high quality features that adapts to your needs.</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Signature 'T' Position lamp</h2>
              <p>Wego is the luxury scooter equipped with high quality features that adapts to your needs.</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Sporty stud muffler</h2>
              <p>33 Wego is the luxury scooter equipped with high quality features that adapts to your needs.</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>12" Diamond cut alloy wheels </h2>
              <p>bbbb</p> 
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Bold Chunky tubeless tyres</h2>
              <p>bbbb</p> 
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Batwing styled DRL's</h2>
              <p>bbbb</p> 
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Roto petal front disc brake</h2> 
              <p>bbbb</p> 
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Unique 3D Ntorq Logo</h2> 
              <p>bbbb</p>  
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Sporty split grab rail</h2>
              <p>bbbb</p> 
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Afterburner style rear vents</h2>
              <p>bbbb</p> 
            </div>
          </div>



        </div>
        <img class="feature-hero" src="assets/img/feature-style.jpg" alt="Style">
      </div>

      <div class="tab-pane fade tab-performance" id="performance" role="tabpanel">
        <div class="title-xs visible-xs"><span class="performance-icon"></span>Performance</div>
        <div class="slider">
          <div class="slide">
            <div class="content">
              <h2>Advance CVTi revv engine</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>3 Valve engine</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>High power of 9.5 BHP</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>TVS Racing inspired performance</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Top speed - 95 KM/H</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>0 to 60 in 9.5 Seconds</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>10.5 Nm Torque @ 5500 rpm</h2> 
              <p>bb</p>
            </div>
          </div>
        </div>
        <img class="feature-hero" src="assets/img/feature-performance.jpg" alt="Style">
      </div>

      <div class="tab-pane fade tab-technology" id="technology" role="tabpanel">
        <div class="title-xs visible-xs"><span class="technology-icon"></span>Technology</div>
        <div class="slider">
           <div class="slide">
            <div class="content">
              <h2>Bluetooth connected smart speedometer</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Full digital console with 55 features</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Multiple modes - Street, Sport, BT pairing mode</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Lap timer recording</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>0-60 recorder</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Ride stats recorder</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Personalised welcome messages</h2>
              <p>aa</p>
            </div>
          </div>
           <div class="slide">
            <div class="content">
              <h2>Incoming call alert</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Incoming SMS alert</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Missed call alert</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Navigation Assist</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Parking locator</h2>
              <p>aa</p>
            </div>
          </div>
        </div>
        <img class="feature-hero" src="assets/img/feature-technology.jpg" alt="Style">
      </div>

      <div class="tab-pane fade tab-comfort" id="comfort" role="tabpanel">
        <div class="title-xs visible-xs"><span class="comfort-icon"></span>Comfort</div>
        <div class="slider">
          <div class="slide">
            <div class="content">
              <h2>Telescopic suspension</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Least turning radius</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Double stitched hysteresis seat</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Patented EZ ccentre stand</h2>
              <p>aa</p>
            </div>
          </div> 
        </div>
        <img class="feature-hero" src="assets/img/feature-comform.jpg" alt="Style">
      </div>

      <div class="tab-pane fade tab-convnience" id="convenience" role="tabpanel">
        <div class="title-xs visible-xs"><span class="convenience-icon"></span>convenience</div>
        <div class="slider">
          <div class="slide">
            <div class="content">
              <h2>Auto choke</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>lts under seat storage</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>USB Charger</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Aircraft type External fuel fill</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Dual steering lock</h2>
              <p>aa</p>
            </div>
          </div>
        </div>
        <img class="feature-hero" src="assets/img/feature-convenience.jpg" alt="Style">
      </div>

      <div class="tab-pane fade tab-safety" id="safety" role="tabpanel">
        <div class="title-xs visible-xs"><span class="convenience-icon"></span>Safety</div>
        <div class="slider">
          <div class="slide">
            <div class="content">
              <h2>220 mm Roto petal disc brakes</h2> 
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>SBS - Synchronised braking system</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Wider tyres</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Parking brake</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Engine kill switch</h2>
              <p>aa</p>
            </div>
          </div>
          <div class="slide">
            <div class="content">
              <h2>Pass by switch</h2>  
              <p>aa</p>
            </div>
          </div>
        </div>
        <img class="feature-hero" src="assets/img/feature-style.jpg" alt="Safey">
      </div>

    </div>
  </div>
  {{> bottom-tabchange-cta-features }}
</div>
