<div id="Colour" class="tab-pane fade">
  <div class="colorizer tabs-animated">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-7 col-centered">
          <div class="scooter-wrapper">

            <ul class="scooter-tabs nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#drumBrakes">Drum</a>
              </li>
              <li>
                <a data-toggle="tab" href="#discs">Disc</a>
              </li>
            </ul>

            <div class="tab-content color-variant">
              <div id="drumBrakes" class="tab-pane in active">
                <div class="color-varient">

                  <div class="colorWrap colorSlider">
                    <div class="allCars">
                      <ul>
                        <li class="active" href="javascript:void(0)" data-link="1"><img src="assets/img/scooter-yellow.png" alt="Yellow"></li>
                        <li href="javascript:void(0)" data-link="2"><img src="assets/img/scooter-black.png" alt="black"></li>
                        <li href="javascript:void(0)" data-link="3"><img src="assets/img/scooter-orange.png" alt="orange"></li>
                        <li href="javascript:void(0)" data-link="4"><img src="assets/img/scooter-blue.png" alt="blue"></li>
                        <li href="javascript:void(0)" data-link="5"><img src="assets/img/scooter-green.png" alt="Green"></li>
                      </ul>
                    </div>
                    <div class="colorOption">
                      <ul class="nav nav-tabs">
                        <li><a class="yellow-tab current" href="javascript:void(0)" data-link="1"></a><span>Gold Yellow</span></li>
                        <li><a class="black-tab" href="javascript:void(0)" data-link="2"></a><span>Black</span></li>
                        <li><a class="orange-tab" href="javascript:void(0)" data-link="3"></a><span>Orange</span></li>
                        <li><a class="blue-tab" href="javascript:void(0)" data-link="4"></a><span>Navy Blue</span></li>
                        <li><a class="green-tab" href="javascript:void(0)" data-link="5"></a><span>Green</span></li>
                      </ul>
                    </div>
                  </div>


                  <!-- <div class="tab-content">
								<div id="yellowTab" class="tab-pane fade in active">
									<div class="colorize-scooter">
										<img src="assets/img/scooter-yellow.png" alt="Yellow">
									</div>
								</div>
								<div id="blackTab" class="tab-pane fade">
									<div class="colorize-scooter">
										<img src="assets/img/scooter-black.png" alt="Yellow">
									</div>
								</div>
								<div id="orangeTab" class="tab-pane fade">
									<div class="colorize-scooter">
										<img src="assets/img/scooter-orange.png" alt="Yellow">
									</div>
								</div>
								<div id="blueTab" class="tab-pane fade">
									<div class="colorize-scooter">
										<img src="assets/img/scooter-blue.png" alt="Yellow">
									</div>
								</div>
								<div id="greenTab" class="tab-pane fade">
									<div class="colorize-scooter">
										<img src="assets/img/scooter-green.png" alt="Yellow">
									</div>
								</div>
							</div>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#yellowTab" class="yellow-tab">Gold Yellow</a>
									<span>Gold Yellow</span>
								</li>
								<li>
									<a data-toggle="tab" href="#blackTab" class="black-tab">Black</a>
									<span>Black</span>
								</li>
								<li>
									<a data-toggle="tab" href="#orangeTab" class="orange-tab">Orange</a>
									<span>Orange</span>
								</li>
								<li>
									<a data-toggle="tab" href="#blueTab" class="blue-tab">Navy Blue</a>
									<span>Navy Blue</span>
								</li>
								<li>
									<a data-toggle="tab" href="#greenTab" class="green-tab">Green</a>
									<span>Green</span>
								</li>
							</ul> -->
                </div>
              </div>
              <div id="discs" class="tab-pane">
                <h1>Ntorq With Discs</h1>
                <div class="color-varient">

                  <div class="colorWrap colorSlider">
                    <div class="allCars">
                      <ul>
                        <li class="active" href="javascript:void(0)" data-link="11"><img src="assets/img/scooter-orange.png" alt="orange"></li>
                        <li href="javascript:void(0)" data-link="12"><img src="assets/img/scooter-blue.png" alt="blue"></li>
                        <li href="javascript:void(0)" data-link="13"><img src="assets/img/scooter-black.png" alt="black"></li>
                        <li href="javascript:void(0)" data-link="14"><img src="assets/img/scooter-yellow.png" alt="Yellow"></li>
                        <li href="javascript:void(0)" data-link="15"><img src="assets/img/scooter-green.png" alt="Green"></li>
                      </ul>
                    </div>

                    <div class="colorOption">
                      <ul class="nav nav-tabs">
                        <li><a class="orange-tab current" href="javascript:void(0)" data-link="11"></a><span>Orange</span></li>
                        <li><a class="blue-tab" href="javascript:void(0)" data-link="12"></a><span>Navy Blue</span></li>
                        <li><a class="yellow-tab" href="javascript:void(0)" data-link="13"></a><span>Gold Yellow</span></li>
                        <li><a class="black-tab" href="javascript:void(0)" data-link="14"></a><span>Black</span></li>
                        <li><a class="green-tab" href="javascript:void(0)" data-link="15"></a><span>Green</span></li>
                      </ul>

                    </div>
                  </div>

                  <!-- <div class="tab-content">
								<div id="discsGreenTab" class="tab-pane in active">
									<div class="colorize-scooter animated slideInLeft">
										<img src="assets/img/scooter-green.png" alt="Yellow">
									</div>
								</div>
								<div id="discsBlackTab" class="tab-pane">
									<div class="colorize-scooter animated slideInLeft">
										<img src="assets/img/scooter-black.png" alt="Yellow">
									</div>
								</div>
								<div id="discsYellowTab" class="tab-pane">
									<div class="colorize-scooter animated slideInLeft">
										<img src="assets/img/scooter-yellow.png" alt="Yellow">
									</div>
								</div>
								<div id="discsBlueTab" class="tab-pane">
									<div class="colorize-scooter animated slideInLeft">
										<img src="assets/img/scooter-blue.png" alt="Yellow">
									</div>
								</div>
								<div id="discsOrangeTab" class="tab-pane">
									<div class="colorize-scooter animated slideInLeft">
										<img src="assets/img/scooter-orange.png" alt="Yellow">
									</div>
								</div>


							</div>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#discsGreenTab" class="green-tab">Green</a>
									<span>Green</span>
								</li>

								<li>
									<a data-toggle="tab" href="#discsBlackTab" class="black-tab">Black</a>
									<span>Black</span>
								</li>
								<li>
									<a data-toggle="tab" href="#discsYellowTab" class="yellow-tab">Gold Yellow</a>
									<span>Gold Yellow</span>
								</li>
								<li>
									<a data-toggle="tab" href="#discsBlueTab" class="blue-tab">Navy Blue</a>
									<span>Navy Blue</span>
								</li>
								<li>
									<a data-toggle="tab" href="#discsOrangeTab" class="orange-tab">Orange</a>
									<span>Orange</span>
								</li>
							</ul> -->
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <div class="yellow-cta">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-xs-6 left-cta">
          <a class="btm-tab-change" data-toggle="tab" href="#Racing">Racing</a>
        </div>
        <div class="col-sm-6 col-xs-6 right-cta">
          <a class="btm-tab-change" data-toggle="tab" href="#Gallery">gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>
