<div id="Gallery" class="tab-pane fade">
  <div class="container gallery">

    <!-- <div class="gallery-filters">
      <ul class="scooter-tabs nav nav-tabs">
        <li class="filter-button-gallery active"  data-filter="all">
        <a data-toggle="tab" href="">All</a>
        </li>
        <li class="filter-button-gallery" data-filter="image">
        <a data-toggle="tab" href="">Images</a>
        </li>
        <li class="filter-button-gallery" data-filter="video">
        <a data-toggle="tab" href="">Videos</a>
        </li>
      </ul>
    </div> -->

    <div class="gallery-content" id="galleryGrid">
      <div id="page1">
        <img alt="image" data-image="assets/img/01_Image.jpg">

        <img alt="image" data-image="assets/img/02_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/03_Image.jpg" class="filter image">

        <img alt="video" data-type="youtube" src="assets/img/01_Video.jpg" data-description="Waimea cliff jump description" data-videoid="sogCtOe8FFY" style="display:none" class="filter video">

        <img alt="image" data-image="assets/img/04_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/05_Image.jpg" class="filter image">

        <img alt="video" data-type="youtube" src="assets/img/01_Video.jpg" data-description="Waimea cliff jump description" data-videoid="sogCtOe8FFY" style="display:none" class="filter video">

        <img alt="image" data-image="assets/img/06_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/07_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/08_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/09_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/10_Image.jpg" class="filter image">

        <img alt="video" data-type="youtube" src="assets/img/01_Video.jpg" data-description="Waimea cliff jump description" data-videoid="sogCtOe8FFY" style="display:none" class="filter video">

        <img alt="image" data-image="assets/img/01_Image.jpg" class="filter image">

      </div>
      <div id="page2" style="display:none;">
        <img alt="image" data-image="assets/img/07_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/09_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/05_Image.jpg" class="filter image">

        <img alt="video" data-type="youtube" src="assets/img/01_Video.jpg" data-description="Waimea cliff jump description" data-videoid="sogCtOe8FFY" style="display:none" class="filter video">

        <img alt="image" data-image="assets/img/06_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/07_Image.jpg" class="filter image">

        <img alt="image" data-image="assets/img/08_Image.jpg" class="filter image">

      </div>
      <div class="power-btn">
        <a type="button" class="btn btn-default btn-red no-icon" id="load-more" style="display:none;" name="button" data-load="#page2">Load More</a>
      </div>


    </div>

  </div>
  {{> bottom-tabchange-cta-gallery }}
</div>
