<div id="Price" class="tab-pane fade">
    {{> price}}
    <div class="yellow-cta">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-xs-6 left-cta">
                    <a class="btm-tab-change" data-toggle="tab" href="#Gallery">gallery</a>
                </div>
                <div class="col-sm-6 col-xs-6 right-cta">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
