<section class="tabs">
  <div class="tabWrapper">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home" class="tcore">Core</a></li>
      <li><a data-toggle="tab" href="#Features">Features</a></li>
      <li><a data-toggle="tab" href="#Smart-connect">Smart Connect</a></li>
      <li><a data-toggle="tab" href="#Racing">Racing</a></li>
      <li><a data-toggle="tab" href="#Tech-specs">Tech Specs</a></li>
      <li><a data-toggle="tab" href="#Colour">Colour</a></li>
      <li><a data-toggle="tab" href="#Gallery">Gallery</a></li>
      <li><a data-toggle="tab" href="#Price">Price</a></li>
    </ul>
  </div>
  <div class="tab-content">
    {{> tab1 }} <!-- Overview -->
    {{> tab2 }} <!-- Features -->
    {{> tab3 }} <!-- Smart Connect -->
    {{> tab4 }} <!-- Tech Specs -->
    {{> tab5 }} <!-- Colour -->
    {{> tab6 }} <!-- Gallery -->
    {{> tab7 }} <!-- Price -->
    {{> tab8 }} <!-- Racing -->
  </div>
</section>
