<div class="specs-table">
	<div class="specs-row">
		<div class="specs-cell">Battery</div>
		<div class="specs-cell">12v, 5Ah MF</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Head Lamp</div>
		<div class="specs-cell">35/35 W</div>
	</div>
</div>
