<div class="specs-table">
	<div class="specs-row">
		<div class="specs-cell">Front</div>
		<div class="specs-cell">DRUM: 130mm with SBT, Disc: 220mm Disc </div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Rear</div>
		<div class="specs-cell">130mm Dia Drum </div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Tyre Size (Front & Rear)</div>
		<div class="specs-cell">100/80x12, Tubeless</div>
	</div>
</div>
