<div class="specs-table">
	<div class="specs-row">
		<div class="specs-cell">Frame</div>
		<div class="specs-cell">High Rigidity Under Bone Rectangular Tube Type</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Dimensions (lxbxh)</div>
		<div class="specs-cell">1880x650x1160 mm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Wheelbase</div>
		<div class="specs-cell">1285mm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Ground Clearance</div>
		<div class="specs-cell">155mm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Front Suspension</div>
		<div class="specs-cell">Telescopic Suspension</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Rear Suspension</div>
		<div class="specs-cell">Spring loaded Hydraulic Type</div>
	</div>
</div>
