<div class="specs-table">
	<div class="specs-row">
		<div class="specs-cell">Type</div>
		<div class="specs-cell">4 Stroke, Single Cylinder, air-cooled, Spark Ignition</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Displacement</div>
		<div class="specs-cell">109.7 cc</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Max.Power</div>
		<div class="specs-cell">5.88 kW @ 7500 rpm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Max.Torque</div>
		<div class="specs-cell">8.4 Nm @ 5500 rpm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Transmission </div>
		<div class="specs-cell">CVT</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Ignition</div>
		<div class="specs-cell">Electric and kick</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Emission Norms</div>
		<div class="specs-cell">BSIV</div>
	</div>
</div>