<div class="specs-table">
	<div class="specs-row">
		<div class="specs-cell">Type</div>
		<div class="specs-cell">4 stroke, Single Cylinder, Air Cooled, OHC </div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Displacement</div>
		<div class="specs-cell">124.78 CC (3v)</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Maximum Power</div>
		<div class="specs-cell">10bhp @7500rpm</div>
	</div>
	<div class="specs-row">
		<div class="specs-cell">Maximum Torque</div>
		<div class="specs-cell">10.5Nm @5500rpm</div>
	</div>
</div>
