<div class="specification-container">
	<div class="container">
		<div class="specs-head">
			<h4>TVS Ntorq</h4>
			<h1>technical details</h1>
		</div>
		<div class="specs-accodion">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#engine">Engine (BS – IV Compliant)</a>
						</h4>
					</div>
					<div id="engine" class="panel-collapse collapse in">
						<div class="panel-body">
							{{> tech-specs-table-engine }}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#electricals" class="collapsed">Electronics</a>
						</h4>
					</div>
					<div id="electricals" class="panel-collapse collapse">
						<div class="panel-body">
							{{> tech-specs-table-electronics }}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#chasis" class="collapsed">Chassis</a>
						</h4>
					</div>
					<div id="chasis" class="panel-collapse collapse">
						<div class="panel-body">
							{{> tech-specs-table-chassis }}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#suspension" class="collapsed">Breaks</a>
						</h4>
					</div>
					<div id="suspension" class="panel-collapse collapse">
						<div class="panel-body">
							{{> tech-specs-table-breaks }}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#brakes" class="collapsed">Fuel</a>
						</h4>
					</div>
					<div id="brakes" class="panel-collapse collapse">
						<div class="panel-body">
							{{> tech-specs-table-fuel }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="yellow-cta">
	<div class="container-fluid remove-container-padding">
		<div class="row">
			<div class="col-sm-6 col-xs-6 left-cta">
				<a class="btm-tab-change" data-toggle="tab" href="#Racing">Racing</a>
			</div>
			<div class="col-sm-6 col-xs-6 right-cta">
				<a class="btm-tab-change" data-toggle="tab" href="#Colour">Colour</a>
			</div>
		</div>
	</div>
</div>
