<section class="test-drive-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="test-drive-form">
                    <h1>Your first step to owning a NTORQ 125</h1>
                    <!-- <form action="#">
            <div class="checkbox">
              <label class="checkbox-inline">
                <input type="checkbox" value=""> Buy
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value=""> Test Drive
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" value=""> Finance
              </label>
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
            </div>
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" class="form-control" id="city" placeholder="Enter your city" name="city">
            </div>
            <div class="form-group">
              <label for="mobile">Mobile/Phone Number:</label>
              <input type="text" class="form-control" id="mobile" placeholder="Enter mobile/phone number" name="mobile">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> *I am ok to receive any communication from TVS Motor
              </label>
            </div>
                       
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
                    <form class="form-horizontal" action=" " method="post" id="contact_form">
                        <fieldset>
                            <!-- Form Name -->
                            <!-- radio checks -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <label class="checkbox-inline">
                                        <input name="testDrive[]" type="checkbox" value=""> Buy
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="testDrive[]" type="checkbox" value=""> Test Drive
                                    </label>
                                    <label name="testDrive[]" class="checkbox-inline">
                                        <input name="testDrive[]" type="checkbox" value=""> Finance
                                    </label>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input name="first_name" placeholder="Name" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">E-Mail</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">Phone Number</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input name="phone" placeholder="9811223344" class="form-control" type="text" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label">State</label>
                                <div class="col-md-8 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-list-ul"></i></span>
                                        <select name="state" class="form-control selectpicker">
                                            <option value="">Please select your state</option>
                                            <option>Maharashtra</option>
                                            <option>Delhi</option>
                                            <option>Haryana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label">City</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                                        <input name="city" placeholder="city" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text checkbox-->
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group terms-label">
                                        <label>
                                          <input type="checkbox" name="communication"> * I am ok to receive any communication from TVS Motor
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <!-- Success message -->
                            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-default">Send<!--  <span class="fa fa-send"></span> --></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
    </div>
</section>