<section class="tvs-app">
  <div class="container">
    <div class="app-container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="download-app">
            <h2>DOWNLOAD THE N251 APP NOW</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. </p>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-8 col-xs-12">
            <div class="app-links">
              <a href="#"><img src="assets/img/google-play-icon-1.png" alt=""></a>
              <!-- <a href="#"><img src="assets/img/apple-store-icon-1.png" alt=""></a>
              <a href="#"><img src="assets/img/windows-store-icon-1.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-sm-4 col-xs-5">
            <div class="qr-code">
              <img src="assets/img/qr-code.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
