<section class="tvs-racing-video">
  <div class="container remove-container-padding">
    <div class="videoWrapper">
      <a href="#" class="video-close-btn"><span class="glyphicon glyphicon-plus"></span></a>
      <div class="ytvideo" style="display:none;"></div>
      <span class="homevideo" data-vidid="KfU_SgzS_Fg">
        <img id="play-video" class="hero-img" src="assets/img/tvs-racing-video.jpg" alt="TVS">
      </span>
    </div>
  </div>
</section>
