<section class="tvs-racing-more">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="racing-content">
          <h1>LOREM IPSUM DOLOR SIT AMET</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
          <a href="#" class="btn btn-default btn-red">MORE ABOUT TVS RACING</a>
        </div>
      </div>
    </div>
  </div>
</section>
