<div class="why-wrapper">
	<div class="container small-container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Why Us?</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do
	eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim
	ad minim veniam, quis nosteud exercitation ullamco laboris nisi ut
	aliquip ex ea commodo consequat.</p>
				<a href="#" class="btn btn-default">More</a>
			</div>
			<div class="col-sm-6">
				<div class="expert-orange">
					<h2>Expert Research</h2>
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life
	accusamus terry richardson ad squis.3 wolf moon officia
	aute, non cupidatat skatebord dolor brunch.</p>
				</div>
				<h3>He-Tech Engineering</h3>
				<h3>Outstanding Rrsults</h3>
			</div>
		</div>
	</div>
</div>