<!doctype html>
<html lang="en">

<head>
    <title>
        {{#if title}} {{title}} {{else}} Batai Capital {{/if}}
    </title>
    {{> styles}}
</head>

<body class="top-fixed">
    <div>
        {{> nav }}
        <div class="company-head">
          <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">Telecome</a>
                </li>
                <li class="active">Bharti Tele</li>
            </ol>
            <div class="company-wrapper">
            <div class="row">
                            <div class="col-sm-3">
                              <a href="#"><img src="assets/img/clients/barti_tel.jpg" alt="Client Name" class="company-logo"></a>
                            </div>
                            <div class="col-sm-9">
                               <h3>Bharti Tele <small>Active</small></h3>
                               <ul>
                                 <li><span>CIN NO:</span> U24231MH1993PLC150891</li>
                                 <li><span>OLD NAME :</span> Arch Commerz Ltd.</li>
                                 <li>Address: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                 </li>
                                 <li>Web : <a href="#">http://www.aricent.com</a></li>
                                 <li>Info : <a href="#">info@aricent.com </a></li>
                               </ul>
                            </div>
                          </div>
                          </div>

          </div>
        </div>
        <div class="container">
            
            <div class="company-wrapper">
              
              <div class="row">
                  <div class="col-xs-12">
                    <div class="company-info">
                      <h4><span>Company Info</span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <p class="updated">Updated: Oct 31, 2017, 01.24 AM IST</p>
                    </div>
                    <div class="company-info">
                      <h4><span>Equity Shares</span></h4>
                      <ul>
                        <li><span>Face </span>: 10</li>
                        <li><span>ISIN No. </span>: NOLJKJAJL</li>
                        <li><span>Listed/Unlisted </span>: Unlisted</li>
                        <li><span>BSE</span>: 521456</li>
                        <li><span>NSE</span>: 121646</li>
                      </ul>
                    </div>

                    <a href="#" class="btn btn-default">Buy Now</a>
                      
                  </div>
                  
              </div>
            </div>
        </div>
        {{> map }} {{> footer }} {{> scripts }}
    </div>
</body>

</html>