<!doctype html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Batai Capital
      {{/if}}
    </title>
    {{> styles}}
  </head>
  <body class="home">

  <div>
    {{> nav }}

    {{> hero }}
    
    {{> portifolio }}

    {{> WhyUs }}
    

    {{> map }}

    {{> footer }}

    {{> scripts }}
  </div>
  </body>
</html>
