<!doctype html>
<html lang="en">

<head>
    <title>
        {{#if title}} {{title}} {{else}} Batai Capital {{/if}}
    </title>
    {{> styles}}
</head>

<body class="top-fixed">
    <div>
        {{> nav }}
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Unlisted Shares</li>
            </ol>
            <div class="clients-wrapper">
              <div class="row">
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="company-info.html"><img src="assets/img/clients/arch_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/aricent_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/axles-india_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/barti_tel.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/fino_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/hdfc_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/hero-fincrop_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/indofil.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/kurlon-home-logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/hdfc_logo.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/logo_1.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/logo_2.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/logo_3.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/logo_4.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3">
                    <div class="client-logo">
                      <a href="#"><img src="assets/img/clients/Studds-logo1.jpg" alt="Client Name"></a>
                    </div>
                  </div>
                  
              </div>
            </div>
        </div>
        {{> map }} {{> footer }} {{> scripts }}
    </div>
</body>

</html>